        body {
            
            background-image: url('../img/imagenfondo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #ffffff; 
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }

        header {
            background-color: rgba(38, 177, 45, 0.918); 
            padding: 2em;
            border-radius: 15px;
            margin-bottom: 2em;
        }

        h1 {
            font-size: 2.5em;
            margin: 0 0 0.5em 0;
        }

        p {
            font-size: 1.2em;
            max-width: 600px;
        }

        main {
            display: flex;
            gap: 20px;
            margin-top: 1em;
        }

        .boton {
            background-color: #1b8d3d;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .boton:hover {
            background-color: #239e52;
        }